<%- include("./layout/head", {title: "Home"})%>
<!--	Header	-->
<%- include("./layout/header") %>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
	<div class="container">
    	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav>
        	        <%- include("./layout/menu") %>
                </nav>
            </div>
        </div>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
                <%- include("./layout/slider") %>
                <!--	End Slider	-->
                
                <!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        <% for (item of prominentProducts) {%>
                            <%- include("./layout/product-card", {item}) %>
                        <% } %>
                    </div>
                </div>
                <!--	End Feature Product	-->
                
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        <% for (item of newProducts) {%>
                            <%- include("./layout/product-card", {item}) %>
                        <% } %>
                    </div>
                </div>
                <!--	End Latest Product	-->
                
            </div>
            
            <%- include("./layout/sidebar") %>
        </div>
    </div>
</div>
<!--	End Body	-->

<%- include("./layout/footer") %>
<!--	End Footer	-->














